<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%%= link_to '<%= plural_table_name.capitalize.humanize %>', "#", class: "navbar-brand" %>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li><%%= link_to 'Novo', new_<%= singular_table_name %>_url, class: "btn btn-primary mr-auto"%></li>
          </ul>
        </nav>
      </div >

      <div class="card-body">
		<table class="table table-hover">
			<thead>
				<tr>
				<% attributes.reject(&:password_digest?).each do |attribute| -%>
<th class="text-left <%= (attributes.first == attribute || attributes.last == attribute) ? "" : 'hidden-xs hidden-sm'%>"><%= attribute.human_name.capitalize.humanize %></th>
					<% end -%>
				<th class="text-left ">Acções</th>
</tr>
			</thead>

			<tbody>
					<%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
						<tr>
						<% attributes.reject(&:password_digest?).each do |attribute| -%>
<td class="text-left <%= (attributes.first == attribute || attributes.last == attribute) ? "" : 'hidden-xs hidden-sm'%>"><%%= <%= singular_table_name %>&.<%= attribute.name %> %></td>
						<%end%>
						<td class="text-left"><%%= link_to 'Ver', <%= singular_table_name %>_url(<%= singular_table_name %>), class: 'mr-auto'%></td>
						
						</tr>
					<%% end %>
			</tbody>
		</table>
      </div >
      <div class="card-footer">
        <%%= render partial: 'shared/pagination', locals: {pagy: @pagy} %>
      </div>
    </div>
  </div>
</div>
