<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <%%= link_to '<%= singular_table_name&.capitalize&.humanize %>', "#", class: "navbar-brand" %>
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li>
              <%%= link_to 'Voltar', <%= plural_table_name %>_url, class: "btn btn-secondary"%>
              <%%= link_to 'Alterar',  edit_<%= singular_table_name %>_url(@<%= singular_table_name %>), class: "btn btn-primary"%>
              <%%= link_to 'Eliminar', @<%= singular_table_name %>, method: :delete, data: {confirm: 'Tens Certeza ?'}, class: "btn btn-danger"%>
            </li>
          </ul>
        </nav>
      </div >

      <div class="card-header">
        <div class="row paymentDetails">
          <div class="col-sm-12 col-md-8">
          <%- attributes.each do |attribute| -%>
            <div class="row">
              <div class="col-sm-12 paymentDetailsCell">
                <ul class="paymentDetailsItem">
                  <li class="text-center paymentDetailsItemLabel">
                    <span><%= attribute.name.humanize %></span>
                  </li>
                  <li class="text-center paymentDetailsItemValue">
                    <%%= @<%= singular_table_name %>&.<%= attribute.name %> %>
                  </li>
                </ul>
              </div>
            </div>
          <%- end -%>
          </div>
          <div class="col-sm-12 col-md-4 paymentDetailsStatus">
            <%%= image_tag("angola.svg", size: 150, class: 'card-img-top') %>
          </div>
        </div>
      </div >
    </div>
  </div>
</div>