<div class="row">
  <div class="col">
    <div class="card">
      <%= simple_form_for @empreiteiro, validate: true, html:{ multipart: true } do |f| %>
        <div class="card-header">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <% unless @empreiteiro.id.present? %>
              <h1 class='texto_leve'>Editar Empreiteiro</h1>
            <% else %>
              <h1 class='texto_leve'>Novo Empreiteiro</h1>
            <% end %>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
              <% if @empreiteiro.id.blank? %>
                <li><%= f.button :submit, 'Registar', class: "btn btn-success btn-sm", "data-toggle" => "tooltip", 'data-position' => "top",  "data-tooltip" => "Registar"%></li>
                <li><%= link_to 'Cancelar', empreiteiros_url, "data-toggle" => "tooltip", 'data-position' => "top",  "data-tooltip" => "Cancelar", class:"btn btn-default" %>
              <% else %>
                <li><%= f.button :submit, 'Actualizar', class: "btn btn-success btn-sm", "data-toggle" => "tooltip", 'data-position' => "top",  "data-tooltip" => "Actualizar"%></li>
                <li><%= link_to 'Cancelar', empreiteiro_url(@empreiteiro), "data-toggle" => "tooltip", 'data-position' => "top",  "data-tooltip" => "Cancelar", class:"btn btn-default" %></li>
              <% end %>
            </ul>
          </nav>
        </div>

        <div class="card-body">
          <div class="row">
              <%= f.input :nome, label: "Nome", placeholder: "Nome", wrapper_html: {class: 'col-sm-6 col-xs-12'}, input_html: {class: ''} %>
              <%= f.input :email, label: "Email", placeholder: "Email", wrapper_html: {class: 'col-sm-6 col-xs-12'}, input_html: {class: ''} %>
              <%= f.input :telefone, label: "Telefone", placeholder: "Telefone", wrapper_html: {class: 'col-sm-6 col-xs-12'}, input_html: {class: ''} %>
              <%= f.input :telemovel, label: "Telemovel", placeholder: "Telemovel", wrapper_html: {class: 'col-sm-6 col-xs-12'}, input_html: {class: ''} %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>